---
search: false
---

@charset "utf-8";


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__item-teaser {
    img {
        width: 100%;
        height: 80px;
        object-fit: cover;
    }
}
